*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/codeStyleSettings.xml
.idea/misc.xml
.idea/modules.xml

app/src/main/java/edu/jocruzcsumb/discotheque/CompileOptions.java
