<!DOCTYPE html>
<html>
    <head>
        <style>
            @import 'https://fonts.googleapis.com/css?family=Roboto';
            @import "{{url_for('static',filename='css/privacyStyles.css')}}";
        </style>
    <title> Discotheque </title>
    </head>
    <body>
        <h1>Privacy Policy for Discotheque</h1>
        <br /> <br />
        <h3>Upon use of our app we may collect the following information:</h3> <br />
        <ul>
        <li>Email Address</li>
        <li>Name</li>
        <li>Image</li>
        <li>Facebook User Profile</li>
        <li>Google Identity Platform Information</li>
        <li>User Device Information</li>
        </ul>
        <br />
        <h3>We may use your information in the following ways:</h3> <br />
        <ul>
        <li>To provide the services requested</li>
        <li>For app maintenance and debugging</li>
        <li>To perform research and analysis</li>
        </ul>
        <br />
        <h3>Who do we share your information with:</h3> <br />
         At this point in time, no user information is shared with any third parties.
        <br />
        <hr>
        
        
    </body>
</html>